body {
    box-sizing: border-box;
    margin: auto;
    background: url('../images/matrixBackground.jpg') no-repeat center;
    background-size: cover;
    height: 750px;
}

h1 {
    color: whitesmoke;
    text-shadow: 5px -2px black;
}

#char {
    height: 175px;
}